{{define "home"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>One Piece Tracker - Accueil</title>
</head>
<body>
    <h1>Bienvenue sur Grand Line</h1>
    <div class="intro-container">
        <p>Explorez l'univers de One Piece et découvrez les plus grandes primes de la piraterie.</p>
    </div>
    
    <div style="margin-top: 30px;">
        <a href="/collection" class="btn-page">📜 Voir la Collection</a>
        <a href="/about" class="btn-page">📖 À Propos</a>
    </div>

    <div style="margin-top: 40px;">
        <img src="/static/luffy.webp" alt="Monkey D. Luffy" class="luffy-img">
    </div>

</body>
</html>
{{end}}